#backgroundbanner {
    height: 760px;
}

#backgroundbanner2 {
    height: 670px;
}

#searchbannerbg {
    height: 370px;
}

#searchbannerbg2 {
    height: 370px;
}

#historybannerbg {
    height: 290px;
}

#historybannerbg2 {
    height: 270px;
}