-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
ul li a{
  text-decoration: none;
  color: #6B7280;
  padding: 22px 20px;
  font-weight: 500;
}
ul li a:hover{
  color: #F59E0B;
  transition-duration: 300ms;
}
.active{
  color: #374151;
  font-weight: bold;
  border-bottom: 4px solid #F59E0B;
  transition-duration: 300ms;
}


/* ul li a:active{
  color: #374151;
  font-weight: bold;
  border-bottom: 4px solid #F59E0B;
  transition-duration: 300ms;
} */

/* Style the buttons */
/* .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  } */
  
  /* Style the active class (and buttons on mouse-over) */
  /* .active, .btn:hover {
    background-color: #666;
    color: white;
  } */