/* Not Responsive */

body {
  /* background-color: rgba(31, 41, 55); cool gray 800 */
  /* color: white; */
}

.tabAnim {
  z-index: -9;
}

#gradeA:checked ~ div {
  --tw-translate-x: 0%;
}

#gradeBplus:checked ~ div {
  --tw-translate-x: 100%;
}

#gradeB:checked ~ div {
  --tw-translate-x: 200%;
}

#gradeCplus:checked ~ div {
  --tw-translate-x: 300%;
}

#gradeC:checked ~ div {
  --tw-translate-x: 400%;
}

#gradeDplus:checked ~ div {
  --tw-translate-x: 500%;
  }

#gradeD:checked ~ div {
  --tw-translate-x: 600%;
}

#gradeF:checked ~ div {
  --tw-translate-x: 700%;
}


/* -------------------------------------------- */


#teachmethod1:checked ~ div {
  --tw-translate-x: 0%;
}

#teachmethod2:checked ~ div {
    --tw-translate-x: 100%;
  }

  #teachmethod3:checked ~ div {
    --tw-translate-x: 200%;
  }

  #teachmethod4:checked ~ div {
    --tw-translate-x: 300%;
  }

  #teachmethod5:checked ~ div {
    --tw-translate-x: 400%;
  }


  /* -------------------------------------------- */


#knowledgemethod1:checked ~ div {
  --tw-translate-x: 0%;
}

#knowledgemethod2:checked ~ div {
  --tw-translate-x: 100%;
}

#knowledgemethod3:checked ~ div {
  --tw-translate-x: 200%;
}

#knowledgemethod4:checked ~ div {
  --tw-translate-x: 300%;
}

#knowledgemethod5:checked ~ div {
  --tw-translate-x: 400%;
}


  /* -------------------------------------------- */


  #participate1:checked ~ div {
    --tw-translate-x: 0%;
  }
  
  #participate2:checked ~ div {
    --tw-translate-x: 100%;
  }
  
  #participate3:checked ~ div {
    --tw-translate-x: 200%;
  }
  
  #participate4:checked ~ div {
    --tw-translate-x: 300%;
  }
  
  #participate5:checked ~ div {
    --tw-translate-x: 400%;
  }