.top-header {
    background-color: rgba(229, 229, 229, 1);
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}


.menu-item {
    display: flex;
    position: absolute;
    margin-left: 15%;
}
.menu-item a {
    text-decoration: none;
}
.menu-item a:hover {
    color: red;
    text-decoration: underline;
}


.home {
    margin-top: 26px;
    font-size: 14px;
    color: black;
}
.subject {
    margin-left: 24px;
    margin-top: 26px;
    font-size: 14px;
    color: black;
}
.review {
    margin-left: 24px;
    margin-top: 26px;
    font-size: 14px;
    color: black;
}
.history {
    margin-left: 24px;
    margin-top: 26px;
    font-size: 14px;
    color: black;
}


.brand {
    display: flex;
    justify-content: center;
    text-align: center;
}


.login {
    position: absolute;
    top: 18px;
    right: 15%;
    font-size: 14px;
    color: black;
}
.menu-login a {
    background-color: rgba(196, 196, 196, 1);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.menu-login a:hover {
    background-color: rgb(255, 125, 125);
}