.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 100%;
    border: 3px solid rgba(229, 229, 229, 1);
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 20px;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
  }
  .searchTerm:focus{
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(196, 196, 196, 1);
  }
  .searchButton {
    color: #000000;
    width: 40px;
    height: 36px;
    border: 1px solid rgba(229, 229, 229, 1);
    background: rgba(229, 229, 229, 1);
    text-align: center;
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
    font-size: 15px;
  }
  .searchButton:hover {
      background-color: rgb(255, 125, 125);
  }
  .wrap{          /*Resize the wrap to see the search bar change!*/
    width: 35%;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }