.write-review {
    margin-left: 20%;
    margin-top: 12%;
    display: grid;
    grid-template-columns: 12% auto;
}
.subjectname-review {
    padding-top: 8px;
}
.topic-review {
    padding-top: 32px;
}


.write-review-2 {
    margin-left: 20%;
    margin-top: 2%;
    margin-right: 20%;
    padding: 2%;
    background-color: rgba(245, 245, 245, 0.705);
}


.radio-grade input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-grade label {
    display: inline-block;
    background-color: #ddd;
    padding: 8px 14px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    /* border-color: rgba(196, 196, 196, 1); */
    border: 2px solid rgba(196, 196, 196, 1);
    /* border-radius: 4px; */
    cursor: pointer;
    margin-left: 3%;
    margin-top: 3%;
}
.radio-grade input[type="radio"]:checked + label {
    background-color:rgb(255, 125, 125);
    border-color: rgb(255, 125, 125);
}
.radio-grade label:hover {
    border-color: rgb(255, 125, 125);
    background-color: rgb(253, 175, 175)
}
/* .radio-grade input[type="radio"]:focus + label {
    border: 2px dashed #444;
} */


.radio-rate input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-rate label {
    display: inline-block;
    background-color: #ddd;
    padding: 8px 14px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    /* border-color: rgba(196, 196, 196, 1); */
    border: 2px solid rgba(196, 196, 196, 1);
    /* border-radius: 4px; */
    cursor: pointer;
    margin-left: 3%;
    margin-top: 2%;
}
.radio-rate input[type="radio"]:checked + label {
    background-color:rgb(255, 251, 0);
    border-color: rgb(255, 251, 0);
}
.radio-rate label:hover {
    border-color: rgb(255, 251, 0);
    background-color: rgb(255, 252, 170);
}


.text-section {
    padding-top: 8px;
}
.text-teacher {
    padding-top: 8px;
}
.section-teacher {
    display: grid;
    grid-template-columns: 16% auto;
    row-gap: 30px;
    margin-top: 6%;
}
.box-input-section {
    width: 15%;
    border: 3px solid rgba(229, 229, 229, 1);
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 20px;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
}
.box-input-section:focus {
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(196, 196, 196, 1);
}
.box-input-teacher {
    width: 25%;
    border: 3px solid rgba(229, 229, 229, 1);
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 20px;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
}
.box-input-teacher:focus {
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(196, 196, 196, 1);
}


.big-review {
    margin-top: 6%;
}
.big-review-input {
    margin-bottom: 1%;
}

.box-big-review-input {
    width: 91.5%;
    border: 3px solid rgba(229, 229, 229, 1);
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 200px;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
    margin-top: 3%;
    margin-left: 3%;
    /* margin-right: 20%; */

    word-wrap: break-word;
}
.box-big-review-input:focus {
    color: #000000;
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(196, 196, 196, 1);

    word-wrap: break-word;
}
.d1 {
    margin-left: 3%;
    font-size: 15px;
    color: rgb(148, 148, 148);
}
.d2 {
    margin-left: 3%;
    font-size: 15px;
    color: rgb(148, 148, 148);
}


.number-of-task {
    padding-top: 8px;
}
.teaching-method {
    padding-top: 8px;
}
.bringing-knowledge-to-practical-use {
    padding-top: 8px;
}
.rate-this-subject {
    padding-top: 8px;
}


.score-review {
    display: grid;
    grid-template-columns: 35.5% 6% 6% 6% 6% 6%;
    row-gap: 40px;
    margin-top: 6%;
}


.submit-review {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 8%;
}
.submit-button {
    background-color: rgba(196, 196, 196, 1);
    border-color: rgba(196, 196, 196, 1);
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.submit-button:hover {
    background-color: rgb(255, 125, 125);
}